body{
  background-color: darkolivegreen;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: bold;
  color: white;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  background-color: goldenrod;
  border: none;
  width: 150px;
  border-radius: 4px;
  padding: 5px;
  color: white;
  font-weight: bold;
  margin-bottom: 4px;
}

button:hover{
  opacity: 0.8;
  transform: scale(1.05);
}

